<template>
  <div class="Controller">
    <!-- <img alt="Vue logo" src="../assets/png/yeobot-logo.png"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/> -->
    <b-container fluid>
    <b-row>
      <b-col>
        <p></p>
      </b-col>
      <b-col>
        <b-icon class='directional-controller' icon="arrow-up-square-fill"></b-icon>
      </b-col>
      <b-col>
        <p></p>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-icon class='directional-controller' icon="arrow-left-square-fill"></b-icon>
      </b-col>
      <b-col>
        <p></p>
      </b-col>
      <b-col>
        <b-icon class='directional-controller' icon="arrow-right-square-fill"></b-icon>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <p></p>
      </b-col>
      <b-col>
        <b-icon class='directional-controller' icon="arrow-down-square-fill"></b-icon>
      </b-col>
      <b-col>
        <p></p>
      </b-col>
    </b-row>
    </b-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import HelloWorld from '@/components/HelloWorld.vue' // @ is an alias to /src

@Component({
  components: {
    HelloWorld
  }
})
export default class ControllerView extends Vue {}
</script>

<style lang='scss' scoped>
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import 'node_modules/vue-bootstrap-sidebar/src/scss/default-theme';
.directional-controller {
  height: 5rem;
  width: 5rem;
}
</style>
