<template>
  <!-- Sensor Data Nav Bar -->
  <div id='App'>
      <vueDrag />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// Import components

import vueDrag from '../components/vue-draggable.vue'
@Component({
  components: {
    vueDrag
  }
})
export default class HomeView extends Vue {}

</script>
