<template>
  <!-- Sensor Data Nav Bar -->
  <div id='App'>
      <VueGrid />
  </div>
</template>

<script lang="ts">

// Import components
import { Component, Vue } from 'vue-property-decorator'
import VueGrid from '../components/vue-grid-layout-test.vue'
@Component({
  components: {
    VueGrid
  }
})
export default class HomeView extends Vue {}

</script>

<style lang='scss'>
.dark {
  height: 100%;
  width: 100%;
  background-color: yellow;
}
</style>
