<template>
  <!-- Sensor Data Nav Bar -->
  <div id='App'>
      <DndTest/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// Import components

import DndTest from '../components/Dnd-test.vue'
@Component({
  components: {
    DndTest
  }
})
export default class HomeView extends Vue {}

</script>
