<template>
    <!-- Sensor Data Nav Bar -->
    <div id='App'>
        <Simple />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// Import components

import Simple from '../components/simple.vue'
@Component({
  components: {
    Simple
  }
})
export default class HomeView extends Vue {}

</script>
