<template>
  <!-- <Simple /> -->
  <div id='App'>
    <pre id='display'></pre>
    <!-- <span>{{ publishedBooksMessage }}</span> -->
    <button @click="increment">Count is: {{ count }}</button>
    <button @click="putDb">Count is: {{ doc }}</button>
    <button @click="getDb">Count is: {{ dbValue }}</button>
  </div>
</template>

<script lang='ts'>
import { Component, Vue } from 'vue-property-decorator'
import PouchDB from 'pouchdb'
import { ref, onMounted } from 'vue'
var db = new PouchDB('http://127.0.0.1:5000/yeodisplay')

db.info().then((info) => {
  console.log(info)
})

var doc = {
  _id: 'mittens',
  name: 'Mittens',
  occupation: 'kitten',
  age: 3,
  hobbies: [
    'playing with balls of yarn',
    'chasing laser pointers',
    'lookin hella cute'
  ]
}

// Destroy the database before doing anything, because I want
// you to see the same thing if you reload.
// Ignore the man behind the curtain!

// new PouchDB('sample').destroy().then(function () {
//   return new PouchDB('sample')
// }).then(function (db) {
//
// IMPORTANT CODE STARTS HERE
//
// db.put(doc).then(function () {
//   return db.get('mittens')
// }).then(function (doc) {
//   console.log('We stored a kitten: ' + JSON.stringify(doc))
//   // document.getElementById('display').innerHTML = 'We stored a kitten: ' + JSON.stringify(doc)
// })
// db.get('mittens').then(function (doc) {
//   console.log('PouchDb get for mittens:' + JSON.stringify(doc))
// })
//
// IMPORTANT CODE ENDS HERE
//
// })

console.log('Database Successfully Created.')
</script>

<script setup lang='ts'>

// reactive state
const count = ref(0)
const dbValue = ref('')

// functions that mutate state and trigger updates
function increment () {
  count.value++
}
function putDb () {
  db.put(doc).then(function () {
    return db.get('mittens')
  }).then(function (doc) {
    console.log('We stored a kitten: ' + JSON.stringify(doc))
  })
}
function getDb () {
  db.get('mittens').then(function (res) {
    console.log('PouchDb get for mittens:' + JSON.stringify(res))
    dbValue.value = JSON.stringify(res)
  })
  db.info().then((info) => {
    console.log(info)
  })
}

// lifecycle hooks
onMounted(() => {
  console.log(`The initial count is ${count.value}.`)
})
</script>
