<template #default="{ hide }">
  <div id='App'>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <b-button pill v-b-toggle.sidebar-header-footer data-target="#navbarSupportedContent"><b-icon class='arrow' icon="chevron-double-right"></b-icon></b-button>
          </li>
        </ul>
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <b-link class="nav-link" active-class="border-bottom border-light" to="FarmDesigner" caption='Farm Designer'> Farm Designer </b-link>
              </li>
              <li class="nav-item">
                <b-link class="nav-link" active-class="border-bottom border-light" to="Controller" caption='Controller'> Controller </b-link>
              </li>
              <li class="nav-item">
                <b-link class="nav-link" active-class="border-bottom border-light" to="SensorData" caption='Sensor Data'> Sensor Data </b-link>
              </li>
              <li class="nav-item">
                <b-link class="nav-link" active-class="border-bottom border-light" to="Devices" caption='Devices'> Devices </b-link>
              </li>
              <li class="nav-item">
                <b-link class="nav-link" active-class="border-bottom border-light" to="Task" caption='Task'> Task </b-link>
              </li>
              <li class="nav-item">
                <b-link class="nav-link" active-class="border-bottom border-light" to="Schedule" caption='Schedule'> Schedule </b-link>
              </li>
          </ul>
      </div>
          <ul class="navbar-nav mr-auto">
            <div class="logo">
              <b-card alt="Vue logo" class='logo' v-bind:img-src="yeobotLogo"></b-card>
            </div>
            </ul>
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <b-nav-text class="nav-link"> {{ hours }} : {{ minutes }} : {{ seconds }} {{ timeZone }} </b-nav-text>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <b-button v-b-toggle.navbar2-toggle-collapse class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
              <b-collapse id="navbar2-toggle-collapse" class="nav-dropdown-menu" is-nav>
                <b-nav vertical justified class='bg-dark'>
                  <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                      <b-link class="nav-link" active-class="border-bottom border-light" to="FarmDesigner" caption='Farm Designer'> Farm Designer </b-link>
                    </li>
                    <li class="nav-item">
                      <b-link class="nav-link" active-class="border-bottom border-light" to="Controller" caption='Controller'> Controller </b-link>
                    </li>
                    <li class="nav-item">
                      <b-link class="nav-link" active-class="border-bottom border-light" to="SensorData" caption='Sensor Data'> Sensor Data </b-link>
                    </li>
                    <li class="nav-item">
                      <b-link class="nav-link" active-class="border-bottom border-light" to="Devices" caption='Devices'> Devices </b-link>
                    </li>
                    <li class="nav-item">
                      <b-link class="nav-link" active-class="border-bottom border-light" to="Task" caption='Task'> Task </b-link>
                    </li>
                    <li class="nav-item">
                      <b-link class="nav-link" active-class="border-bottom border-light" to="Schedule" caption='Schedule'> Schedule </b-link>
                    </li>
                  </ul>
                </b-nav>
              </b-collapse>
            </b-button>
            </li>
          </ul>
    </nav>

    <b-sidebar class='leftSideNavBar bg-dark' id="sidebar-header-footer" aria-labelledby="sidebar-header-title" no-header shadow>
      <template #default="{ hide }">
        <div class="left-nav bg-dark">
          <div class="mr-auto bg-dark">
            <b-button pill class='mr-auto' @click="hide"><b-icon class='arrow' icon="chevron-double-left"></b-icon></b-button>
          </div>
          <strong class="mr-auto h2 bg-dark side-nav-title">{{ $route.name }}</strong>

          <!-- Portal Target to be displayed is derived from the route name -->
          <portal-target class='bg-dark' v-bind:name="$route.name">
          </portal-target>

          <!-- Farm Designer Nav Bar -->
          <portal to="Farm Designer">
            <b-nav vertical justified>
              <b-navbar-toggle target="navbar-toggle-collapse">
                <b-nav-item href="#" >Configure Plants</b-nav-item>
                <b-nav-item to="#">Delete Plants</b-nav-item>
                <b-nav-item @click="toggleSortDirection">
                  Add Plants
                  <b-icon :icon="sortDirection"></b-icon>
                </b-nav-item>
              </b-navbar-toggle>
              <b-collapse id="navbar-toggle-collapse" is-nav>
                <b-navbar-nav class="ml-auto">
                  <b-nav-item href="#">Tomatoe</b-nav-item>
                  <b-nav-item href="#">Cucumber</b-nav-item>
                </b-navbar-nav>
              </b-collapse>
            </b-nav>
          </portal>
          <!-- Controller Nav Bar -->
          <portal to="Controller">
            <b-nav vertical justified>
              <b-navbar-toggle target="navbar-toggle-collapse">
                <b-nav-item href="#" >Delete Component</b-nav-item>
                <b-nav-item to="#">Edit Component</b-nav-item>
                <b-nav-item @click="toggleSortDirection">
                  Add Component
                  <b-icon :icon="sortDirection"></b-icon>
                </b-nav-item>
              </b-navbar-toggle>
              <b-collapse id="navbar-toggle-collapse" is-nav>
                <b-navbar-nav class="ml-auto">
                  <b-nav-item href="#">Directional Button Navigation</b-nav-item>
                  <b-nav-item href="#">Front Camera Display</b-nav-item>
                </b-navbar-nav>
              </b-collapse>
            </b-nav>
          </portal>
          <!-- Sensor Data Nav Bar
          <portal to="Sensor Data">
            <b-nav vertical justified>
              <b-navbar-toggle target="navbar-toggle-collapse">
                <b-nav-item href="#" >Create Sensor</b-nav-item>
                <b-nav-item to="#">Edit Sensor</b-nav-item>
                <b-nav-item to="#">Delete Sensor</b-nav-item>
              </b-navbar-toggle>
            </b-nav>
          </portal> -->
          <!-- Devices Nav Bar -->
          <portal to="Devices">
            <b-nav vertical justified>
              <b-navbar-toggle target="navbar-toggle-collapse">
                <b-nav-item href="#" >Add Device</b-nav-item>
                <b-nav-item to="#">Edit Device</b-nav-item>
                <b-nav-item to="#">Delete Device</b-nav-item>
              </b-navbar-toggle>
            </b-nav>
          </portal>
          <!-- Task Nav Bar -->
          <portal to="Task">
            <b-nav vertical justified>
              <b-navbar-toggle target="navbar-toggle-collapse">
                <b-nav-item href="#" >Create Task</b-nav-item>
                <b-nav-item to="#">Edit Task</b-nav-item>
                <b-nav-item to="#">Delete Task</b-nav-item>
              </b-navbar-toggle>
            </b-nav>
          </portal>
          <!-- Schedule Nav Bar -->
          <portal to="Schedule">
            <b-nav vertical justified>
              <b-navbar-toggle target="navbar-toggle-collapse">
                <b-nav-item href="#" >Add Task to Schedule</b-nav-item>
                <b-nav-item to="#">Edit Scheduled Task</b-nav-item>
                <b-nav-item to="#">Delete Scheduled Task</b-nav-item>
              </b-navbar-toggle>
            </b-nav>
          </portal>

          <div id='settings' class="d-flex bg-dark text-light align-items-center px-3 py-2">
            <b-button id='settings' size="sm" href="#">Settings</b-button>
          </div>
        </div>
      </template>
    </b-sidebar>
  </div>
</template>

<style lang='scss' scoped>
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import 'node_modules/vue-bootstrap-sidebar/src/scss/default-theme';

.hamburger {
  border: none;
  background: none !important;
  color: black;
  height: 2rem;
  width: 2rem;
}
.logo {
  background: none !important;
  border: none;
  height: 3rem;
  width: 3rem;
}
.arrow {
  color: black;
  background: none !important;
  border: none;
  height: 2rem;
  width: 2rem;
}
.left-nav {
  width: auto;
  height: 100%;
}
.nav-dropdown-menu {
  z-index: 100;
  position: absolute;
  color: blue;
  background: dark !important;
  border-color: white;
  // overflow-y: visible;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.side-nav-title {
  color: white;
}
.leftSideNavBar {
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  color: var(--light);
  transition: 0.2s ease-in-out;
  #settings {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
#sidebar-header-footer {
  overflow-y: auto;
}

div#sidebar {
float: left;
text-align: center;
font-family:'Arvo', serif;
list-style-type: square;
list-style-position: inside;
color:white;
height:100%;
width:5%;
background-color: rgba(100,147,167,1);
}

</style>

<script>
import yeobotLogo from '@/assets/png/yeobot-logo.png'
export default {
  name: 'nav-bars',
  computed: {
    routeName () {
      return this.$route.name
    },
    sortIcon () {
      return this.sortDirection === 'caret-down-fill' ? ['fas', 'sort-up'] : ['fas', 'sort-down']
    }
  },
  data () {
    return {
      sortDirection: 'caret-down-fill',
      yeobotLogo,
      hours: '',
      minutes: '',
      seconds: '',
      timeZone: '',
      initialShow: false,
      header: '<h3>Sidebar</h3>',
      links: [
        { name: 'Home', href: { name: 'home' }, faIcon: ['fas', 'home'] },
        {
          name: 'Dropdown',
          faIcon: ['fas', 'tint'],
          children: [
            {
              name: 'Child Item 1',
              href: {
                name: 'child-item-1'
              },
              faIcon: ['fas', 'child']
            },
            {
              name: 'Child Item 2',
              href: {
                name: 'child-item-2'
              },
              faIcon: ['fas', 'child']
            }
          ]
        },
        { name: 'About', href: { name: 'about' }, faIcon: 'users' },
        { name: 'Contact', href: { name: 'contact' }, faIcon: 'phone' }
      ]
    }
  },
  methods: {
    onSidebarChanged () {
      console.log('Side Bar Changed')
    },
    updateClock () {
      // create a new reference here
      const date = new Date()

      this.hours = date.getHours()
      this.minutes = date.getMinutes()
      this.seconds = date.getSeconds()
      this.timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone
    },
    toggleSortDirection () {
      this.sortDirection = this.sortDirection === 'caret-down-fill' ? 'caret-up-fill' : 'caret-down-fill'
      console.log(this.sortDirection)
    }
  },
  mounted () {
    this.interval = setInterval(this.updateClock, 1000)
  },
  beforeDestroy () {
    clearInterval(this.interval)
  }
}
</script>
