<template>
  <div id="app">
    <!-- Left side nav bar menu items -->
    <portal to="Sensor Data">
      <div
        class='btn-group-vertical buttons'
        role='group'
        aria-label='Basic example'
      >
        <b-nav vertical justified>
            <b-navbar-toggle target="navbar-toggle-collapse">
              <!-- Create Sensor allows the user to fill out a form to create a new sensor display and
                store it in the pouchDB database -->
              <b-nav-item class='btn btn-secondary' @click='createSensor'>Create New Sensor</b-nav-item>
              <!-- Add Sensor allows the user to select sensor components from a dropdown menu that are
                received from pouchDB -->
              <b-nav-item class='btn btn-secondary' @click='addSensor'>Add Sensor</b-nav-item>
              <!-- Edit Sensor allows the user to select sensor components from a dropdown menu that are
                received from pouchDB and edit the sensor properties via a form and save it to the database
                or cancel the edit-->
              <b-nav-item class='btn btn-secondary' @click='editSensor'>Edit Sensor</b-nav-item>
              <!-- Delete Sensor allows the user to select sensor components from a dropdown menu that are
                received from pouchDB and delete the sensor from the database-->
              <b-nav-item class='btn btn-secondary' @click='deleteSensor'>Delete Sensor</b-nav-item>
            </b-navbar-toggle>
        </b-nav>
      </div>
    </portal>

    <div class='row'>
      <div class='col-2'>
        <div class='form-group'>
          <!-- <div
            class='btn-group-vertical buttons'
            role='group'
            aria-label='Basic example'
          >
            <button class='btn btn-secondary' @click='add'>Add</button>
            <button class='btn btn-secondary' @click='replace'>Replace</button>
          </div> -->

          <div class='form-check'>
            <input
              id='disabled'
              type='checkbox'
              v-model='enabled'
              class='form-check-input'/>
            <label class='form-check-label' for='disabled'>DnD enabled</label>
          </div>
        </div>
      </div>

      <div class='col-6'>
        <b-container>
          <b-row>
            <b-col>
              <h3>Draggable {{ draggingInfo }}</h3>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <draggable
                :list='list'
                :disabled='!enabled'
                class='list-group'
                ghost-class='ghost'
                :move='checkMove'
                @start='dragging = true'
                @end='dragging = false'
              >
                <div
                  class='list-group-item'
                  v-for='element in list'
                  :key='element.name'
                >
                  {{ element.name }}
                </div>
              </draggable>
            </b-col>
            <b-col>
              <draggable
                :list='list'
                :disabled='!enabled'
                class='list-group'
                ghost-class='ghost'
                :move='checkMove'
                @start='dragging = true'
                @end='dragging = false'
              >
                <div
                  class='list-group-item'
                  v-for='element in list'
                  :key='element.name'
                >
                  {{ element.name }}
                </div>
              </draggable>
            </b-col>
          </b-row>
        </b-container>
    </div>

    <rawDisplayer class='col-3' :value='list' title='List' />
  </div>
</div>
</template>

<script>
import draggable from 'vue-draggable'
import PouchDB from 'pouchdb'
// the component correctly? For recursive components, make sure to provide the "name" option.
let id = 1
export default {
  name: 'simple-name',
  // display: 'Simple',
  order: 0,
  components: {
    draggable
  },
  data () {
    return {
      enabled: true,
      list: [
        { name: 'John', id: 0 },
        { name: 'Joao', id: 1 },
        { name: 'Jean', id: 2 }
      ],
      dragging: false
    }
  },
  computed: {
    draggingInfo () {
      return this.dragging ? 'under drag' : ''
    }
  },
  methods: {
    createSensor: function () {
      this.list.push({ name: 'Juan ' + id, id: id++ })
    },
    addSensor: function () {
      this.list.push({ name: 'Juan ' + id, id: id++ })
    },
    editSensor: function () {
      this.list.push({ name: 'Juan ' + id, id: id++ })
    },
    deleteSensor: function () {
      this.list = [{ name: 'Edgard', id: id++ }]
    },
    checkMove: function (e) {
      window.console.log('Future index: ' + e.draggedContext.futureIndex)
    }
  }
}
</script>
<style scoped>
.buttons {
  margin-top: 35px;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
</style>
