<template>
  <div id="app">
    <NavBars />
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import VueGridLayout from '../node_modules/vue-grid-layout'
// Import components
import NavBars from '@/components/NavBars.vue'
import VueGrid from '@/components/vue-grid-layout-test.vue'

@Component({
  components: {
    NavBars,
    VueGrid,
    GridLayout: VueGridLayout.GridLayout,
    GridItem: VueGridLayout.GridItem
  }
})
export default class HomeView extends Vue {}
</script>

<!-- <script src="vue-grid-layout.umd.min.js"></script> -->

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
